<% provide(:title, current_user.email) %>
<h1>Profile page</h1>
<div class="row">
    <section>
      <h2>
        <%= current_user.email %>
      </h2>
      <br>
      <h2>
        You win <%= current_user.wins %> times.
      </h2>
      <br>
      <h2>
        You lost <%= current_user.losts %> times.
      </h2>
    </section>
</div>

