<h1>Your games</h1>
<% if !@games.empty? %>
<% @games.each do |game| %>
	<p>
	<%= link_to "game_#{game.id}", game %>
	<%= link_to "Destroy", game, method: :delete, confirm: "Are you sure ?", class: "p-l-50" %>
	</p>
<% end %>
<% else %>
    No games created yet.
<% end %>
