/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.player{
	margin-left: 30px;
	color: rgb(0, 68, 204);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
	height: 24px;
	letter-spacing: -1px;
	line-height: 23px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 0px;
	margin-top: 10px;
	text-rendering: optimizelegibility;
	width: 940px;
}
.white{
    color:white;
    font-weight: bold;
    padding: 10px 15px 10px;
}


